/* Importación de Milligram */
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css');

/* Estilos personalizados */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(253, 253, 253, 0.371);
}

/* Estilos de la barra de navegación usando Bootstrap */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 999;
}

/* Estilos personalizados de la barra de navegación */
.logo img,
.cart img {
    width: 30px;
    height: 30px;
}

.navbar-titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    padding: 3px 10px;
    border-bottom: 0px solid #ddd;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-item i {
    margin-right: 8px;
}

.nav-item a {
    text-decoration: none;
    color: #fff9f9;
    font-size: 12px;
}

.nav-item a:hover {
    color: #ffd500;
}

/* Estilos de la barra de navegación utilizando Bootstrap */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    font-family: "Dosis", sans-serif; /* Fuente personalizada */
}

.navbar a:hover {
    color: #ffd500;
}

.cart {
    margin-left: auto;
}

.logo {
    margin-right: 20px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos personalizados de la sección de productos */
.productos {
    padding: 40px;
}

.productos h3 {
    font-family: "Montserrat", sans-serif; /* Fuente personalizada */
}

.productos p {
    font-family: "Montserrat", sans-serif; /* Fuente personalizada */
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;
}

.column img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.column h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.column p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.column a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.column .contenedor-botones {
    display: flex;
    justify-content: center;
}

.column .boton {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #d89d37;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color  0.3s ease;
}

/* Estilos personalizados del footer */
.footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    font-family: "Rubik", sans-serif; /* Fuente personalizada */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    text-align: center;
    flex: 1;
}

.footer-logo {
    max-width: 150px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #333333;
}